@forward './settings';
@use './settings';
@use './alert';


$base-colors: settings.$base-colors;
@if settings.$use-alert-colors {
    $base-colors: map-merge(settings.$base-colors, alert.$colors);
}
$base-colors: map-merge($base-colors, settings.$selected-palete);