
$palete1: (
    'primary':      #7f58af,
    'secondary':    #64c5eb,
    'accent':       #e84d8a,
    'alternate':    #7a77b9,
    'tertiary':     #bd9dea,


);

$palete2: (
    'primary':  #2c5374,
    'secondary':#ac3f00,
    'accent':   #fcaf38,
    'alternate':#f95335,
    'tertiary': #bd9dea,

    'success':  #669c1f,
    'warning':  #e1a900,
    'danger':   #c70000,    
    'info':     #509bce
);


$palete3: (
    'primary':      #575a5c,
    'secondary':    #b4c540,
    'accent':     #e0e2d2,
    'alternate':   #3686c9
);

$palete4: (
    'primary':      #1a2c79,
    'secondary':    #e80566,
    'accent':     #ff8d68,
    'alternate':   #f4eabc
);

$palete5: (
    'primary':      #8d8d61,
    'secondary':    #6f459e,
    'accent':     #f66f8d,
    'alternate':   #ffb643
);

$palete6: (
    'primary':      #ff662a,
    'secondary':    #ffa22a,
    'accent':     #82ac26,
    'alternate':   #4f3f84
);

$palete7: (
    'primary':      #9ae1e2,
    'secondary':    #332851,
    'accent':     #ca3074,
    'alternate':   #f6c667
);

$palete8: (
    'primary':      #f3deca,
    'secondary':    #fa9483,
    'accent':     #2d4057,
    'alternate':   #4097aa
);

$palete9: (
    'primary':      #c14364,
    'secondary':    #ff916b,
    'accent':     #eee2d1,
    'alternate':   #2ca18c
);

//==============================================================

// * Happy Online
// ? Bright colors don’t have to be obnoxious or across the place to be effective. Bright colors turn into amusing web design features in this site design, making the entire website interaction a lot more enjoyable.

$palete10: (
    'primary':      #161b40,
    'secondary':    #43bee5,
    'accent':     #f40058,
    'alternate':   #efa500,
    'tertiary':       #41b853
);

//* Montréal in Motion: 
//? A color combination for website design that transports you to the future

$palete11: (
    'primary':      #ed3d63,
    'secondary':    #223ccf,
    'accent':     #161b7f,
    'alternate':   #8d3fd0,
    'tertiary':       #0683d7
);

//* MA-TEA
//? A refreshing beverage necessitates a fresh website design. An excellent example of a vibrant website color palette that is simultaneously stimulating, fun, and balanced.

$palete11: (
    'primary':      #e0485d,
    'secondary':    #322885,
    'accent':     #fcec00,
    'alternate':   #4caa2b,
    'tertiary':       #aecf80
);

//* Andris Gauracs
//? This website, which is focused on earthen blues and copper, is actually a web developer’s portfolio. The blue’s relaxing effect conveys dependability and trust. 

$palete12: (
    'primary':      #437fc7,
    'secondary':    #6daffe,
    'accent':     #edf6ff,
    'alternate':   #ffffff,
    'tertiary':       #b9732f
);

//* Mend Seltzer
//? A lovely and romantic color design for presenting new pro-health products on the website.

$palete13: (
    'primary':      #ebe8e7,
    'secondary':    #ea7186,
    'accent':     #f2c76e,
    'alternate':   #7a77b9,
    'tertiary':   #bd9dea
);

//* Meow Wolf
//? The use of bright colors with black creates a mystical and futuristic effect. This website, which features an art group, exudes inventiveness and mystery, which energise and pique interest. 




//* HtmlBurger: 
//? For this web design service, a casual and laid-back color palette was chosen. Bright and pastel joyful colors were used in the website design to start the conversation and create a welcoming environment for visitors. 

$palete15: (
    'primary':      #fce786,
    'secondary':    #e67235,
    'accent':     #d22d16,
    'alternate':   #77bfe2,
    'tertiary':       #36a1d4
);

//* Juicy Foo'alternate': 
//? Even a single bright hue can lift the mood and make the design more enjoyable. In the case of this website, this is what they went with. For the hero area, the web designers picked a deep oxford blue overlay, a lovely pastel purple for branding, and a vivid yellow accent that demands attention.

$palete16: (
    'primary':      #fcf201,
    'secondary':    #6f63ad,
    'accent':     #f3f3f3,
    'alternate':   #ffffff,
    'tertiary':       #082340
);

$palete17:(
    'primary':      #312886,
    'secondary':    #4dab2b,
    'accent':       #e0485c,
    'alternate':    #ced779,
);