@use '../Library/Colors/mixins'as Colors;
//@use '../Library/Fonts/mixins'as Fonts;
@use '../Settings/borders';
@use '../Settings/Options';

@if Options.get('forms', 'classes') {
    $border-width: borders.get(width, thin);

    fieldset {
        border-radius: 0.4rem;
        padding: .3rem;
        @include Colors.replace(border, '#{$border-width} solid $', ('gray'), (lighten:2));

        legend {
            @include Colors.txt(dark, (lighten: 2));
        }
    }
}