// root: use css var() and initial --vars
// classes: initial .helper-classes like .txt-primary, .bg-secondary ets.
// debug: load and run component debug.
// todo: add option to use basic colors and option to use full colors (with transparent)
// todo: Change 'responsive' names & folders to 'Auto' -> DONE

$Options: (

    animation: (
        //root: false,
        classes: false,
        //debug: true,
    ),

    breakpoints: (
        root: false,
        //classes: true,
        debug: true,
    ),

    colors: (
        root: true,
        classes: false,
        //debug: true,
    ),

    components: (
        //root: true,
        classes: true,
        //debug: true,
    ),

    fonts: (
        root: true,
        //classes: false,
        //debug: true,
        responsive: false,
        root-collection: false,
    ),

    init: (
        root: true,
        classes: true,
    ),

    layouts: (
        //root: true,
        classes: true,
        debug: false,
        responsive-classes: false,
    ),
    
    spacing: (
        //root: true,
        classes: true,
        responsive: false,
        //debug: true,
        responsive-classes: false
    ),

    vendors: (
        reseter: false,
        bulma: false,
        fontawesome: false
    )
);

//! IMPORTANT:  DON'T EDIT AFTER THIS LINE

@function get($component, $item) {
    @if map-get($Options, $component, $item) == true {
        @return map-get($Options, $component, $item);
    }
    @else if map-get($Options, $component, $item) == false {
        @return false;
    }
    @else{
        @warn "Cann't find (#{$component} -> #{$item})!";
    }
    @return false;
}

