
$gap: 5px;
$spacing_list: 6;

$width-wide: 100%;
$width-normal: 90%;
$width-narrow: 70%;


/* paddings */
$paddings: (
	xxxs: 	.1rem,
	xxs:	1rem,
	xs: 	2rem,
	sm: 	3rem,
	md: 	4rem,
	lg: 	5rem,
	xl: 	6rem,
	xxl:	6rem,
);

/* margins */
$margins: (
	xxxs: 	.1rem,
	xxs: 	1rem,
	xs:  	2rem,
	sm:  	3rem,
	md:  	4rem,
	lg:  	5rem,
	xl:  	6rem,
	xxl: 	6rem,
);


