/********************************
 * Project: Mocha-CSS-Layouts
 * Created: 14/04/2020
 * Author: Hisham Dalal
 */


//@use "sass:math";

@use '../Settings';
@use '../Settings/Options';
@use '../Library/Colors';
@use '../Library/Breakpoints' ;
//@use '../Library/Spacing';
@use './mixins';

// todo: Add mixins to do things that classes do.. to minimize the code size
// اضافة إجراءات تقوم بنفس ما تقوم به الكلاسات لتقليل حجم الكود
// todo: Break class to groups and add options to choose what group you want to get.
// تقسيم الكلاسات الى مجموعات وعمل خيارات لتحديد ما تريد استخدامه منها


@if Options.get('layouts', 'classes') { 


	//! ====   WIDTH    ==== !//
	.w-fluid { min-width: 100%; }

	//* How to use:   w-{1 to $columns_count}
	//------------------------------------------------------------------------------------------//
	@for $i from 1 through 10  {
		$s: $i*10%;
		.w-#{$i*10} {
			width: #{$s};
		}
	}

	//! ====   CONTAINER   ==== !//
	.container, [class^="container-"] {
		display: grid;
	}

	.container-fluid { padding-left: 0; padding-right: 0; margin: 0 auto;}

	//* How to use:  .container-{padding: 1 to $column_count}
	//------------------------------------------------------------------------------------------//
	@for $i from 1 through Settings.$columns_count {
		.container-#{$i} { padding-left: #{$i}rem; padding-right: #{$i}rem; margin: 0 auto;}
	}

	//! ====   Display   ==== !//
	//------------------------------------------------------------------------------------------//

	.d-none { display: none !important;}	
	.d-inline { display: inline !important;}	
	.d-block { display: block !important;}	
	.d-inline-block { display: inline-block !important;}	
	.d-flex { display: flex !important;}	
	.d-grid { display: grid !important;}	


	//! ====   FLEX   ==== !//
	[class*="flex"] {

		& > .col  { display: flex; }
			
		//* How to use: .flex-{$n} -> ($n: 1 to $columns_count)
		//---------------------------------------------------------------------------------------//
		@for $i from 1 through Settings.$columns_count  {
			&> .col-#{$i} { display: flex; flex: #{$i} !important;}
		}
	}
	
	//------------------------------------------------------------------------------------------//
	//* How to use:  .d-[flex|flex-col|flex-row]
	.flex { 
		&, &-col, &-row {
			display: flex !important; 
			gap: Settings.$gap;
			align-items: stretch;
		}	
		flex-direction: row;

		&-col { flex-direction: column;}	
		&-row { flex-direction: row;}	
	}

	.flex-auto > * {
		flex: 0 0 auto;
		width: auto;
	}

	.flex-equal > div,
	.flex-equal > section,
	.flex-equal > aside,
	.flex-equal > span,
	.flex-equal > li,
	.flex-equal > a
	{
		flex: 1;
	}


	// todo: not exists !
	//* How to use:  .d-grid-[col|row]-{$n} -> {$n: from 1 to $column_count}
	//------------------------------------------------------------------------------------------//



	//! ====   GRID   ==== !//
	//* How to use:  .d-[grid|grid-col|grid-row]
	//------------------------------------------------------------------------------------------//
	[class*="grid"] {
		display: grid !important; 
		gap: Settings.$gap;
		grid-auto-flow: column;

		& > .col  { 
			display: grid;
		}
		
		@for $i from 1 through Settings.$columns_count  {
			& > .col-#{$i} {
				display: grid;
				grid-column-start: span #{$i};
				grid-column-end: auto; 
			}
			& > .row-#{$i} {
				display: grid;
				grid-row-start: span #{$i};
				grid-row-end: auto; 
			}
		}
	}
	
	.grid { 	
		&-col { grid-auto-flow: column;}	
		&-row { grid-auto-flow: row;}	

		// ! Removed to lightwight css file size
		//* How to use:  .grid-{$row}x{$col}   ->   ($row and $col: from 1 to $column_count)
		//? _mixins.scss -> grid-table($h, $v)
		//------------------------------------------------------------------------------------------//
		// @for $row from 1 through Settings.$columns_count  {
		// 	@for $col from 1 through Settings.$columns_count  {
		// 		&-#{$row}x#{$col} {
		// 			grid-template-rows: repeat(#{$row}, 1fr);
		// 			grid-template-columns: repeat(#{$col}, 1fr);
		// 		}
		// 	}
		// }
	}
	// .rowsnum-$i, .colsnum-$i instead of .grid-$rowX$col
	@for $i from 1 through Settings.$columns_count  {
		.rowsnum-#{$i}, .children-rowsnum-#{$i} > *   {
			grid-template-rows: repeat(#{$i}, 1fr);
		}
		.colsnum-#{$i}, .children-colsnum-#{$i} > *  {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
	// .\3cols {
	// 	color: red;
	// }
	//* How to use:  .grid-[row|col]-{$num}	->	($num: from 1 to $column_count)
	//------------------------------------------------------------------------------------------//
	//! Make css size smaller so i comment the next lines
	// @for $i from 1 through Settings.$columns_count  {
	// 	.grid-row-#{$i} {grid-template-columns: repeat( #{$i} , 1fr);}
	// 	.grid-col-#{$i} {grid-template-rows: repeat( #{$i} , 1fr);}
	// }


	//! ====   GRID AUTO   ==== !//
	//* How to use:  .grid-{row: from 1 to $column_count}-auto
	//* How to use:  .grid-auto-{col: from 1 to $column_count}
	//? _mixins.scss -> grid-auto($h, $v:'auto')
	//------------------------------------------------------------------------------------------//
	@for $i from 1 through Settings.$columns_count  {
		.grid-row {
			&.grid-#{$i}-auto {
				grid-template-rows: auto; 
				grid-template-columns: repeat(#{$i}, 1fr);
			}
		}
		.grid-col {
			.grid-auto-#{$i} {
				grid-template-columns: auto; 
				grid-template-rows: repeat(#{$i}, 1fr);
			}
		}
	}

	//! ====   POSITION | MERGE | ORDER   ==== !//

	[class*="grid-"] > div,
	[class*="grid-"] > section,
	[class*="grid-"] > aside,
	[class*="grid-"] > span,
	[class*="grid-"] > li,
	[class*="grid-"] > a {
		order: 999999;
		display: grid;
	}

	[class*="flex-"] > div,
	[class*="flex-"] > section,
	[class*="flex-"] > aside,
	[class*="flex-"] > span,
	[class*="flex-"] > li,
	[class*="flex-"] > a
	{
		order: 999999;
		display: flex;
	}

	// [class*="grid"]{
	// 	@for $i from 1 through Settings.$columns_count  {
	// 		//.col,  [class*="col-"]:has(:nth-of-type(#{$i})) {
	// 		*:nth-of-type(#{$i}) {
	// 			order: #{$i};
	// 		}
	// 		// [class*="flex"] > [class*="col-"]:nth-of-type(#{$i}) {
	// 		// 	display: flex;
	// 		// 	order: #{$i};
	// 		// }
	// 		// [class*="grid"] > [class*="col-"]:nth-of-type(#{$i}) {
	// 		// 	display: grid;
	// 		// 	order: #{$i};
	// 		// }
	// 	}
	// }

	.grid-cols {
		@for $i from 1 through Settings.$columns_count  {
			.col:nth-of-type(#{$i}) {
				grid-column-start: #{$i};
				grid-column-end: #{$i+1};
			}
		}
	}
	.grid-rows {
		@for $i from 1 through Settings.$columns_count  {
			.col:nth-of-type(#{$i}) {
				grid-row-start: #{$i};
				grid-row-end: #{$i+1};
			}
		}
	}

	//! not correct
	//* How to use:  .cell-{$row}x{$col} 	-> {$row=start, $col=end, $row, $col: from 1 to $column_count)
	//? _mixins.scss -> col-table($h, $v)
	//------------------------------------------------------------------------------------------//
	// @for $start from 1 through Settings.$columns_count  {
	// 	@for $end from 1 through Settings.$columns_count  {
	// 		.cell-#{$start}x#{$end}  { 
	// 			grid-row-end: span #{$start}; 
	// 			grid-column-end: span #{$end};   
	// 		}
	// 	}
	// }


	//* How to use:  .[col|start|end|start-v|end-v|order]-{$s} -> ($s: from 1 to $column_count)
	//------------------------------------------------------------------------------------------//
	@for $i from 1 through Settings.$columns_count  {
		.col-start-#{$i}    { grid-column-start: #{$i} !important; }
		.col-end-#{$i}    	{ grid-column-end: #{$i} !important; }

		.row-start-#{$i}  	{ grid-row-start: #{$i} !important; }
		.row-end-#{$i}    	{ grid-row-end: #{$i} !important; }
		
		.order-#{$i}		{ order: #{$i} !important;}
	}


	//! ====   MERGE   ==== !//

	//? How to use:
	// .[colspan|rowspan]-$start:$end
	//------------------------------------------------------------------------------------------//
	@for $start from 1 through Settings.$columns_count  {
		.colspan-#{$start} 		{ grid-column-start: span #{$start}; }
		.rowspan-#{$start}		{ grid-row-start: span #{$start}; }

		@for $end from 1 through Settings.$columns_count  {
			.colspan-#{$start}\:#{$end} {
				grid-column: #{$start} / #{$end};
			}
			.rowspan-#{$start}\:#{$end} {
				grid-row: #{$start} / #{$end};
			}
		}

		.colspan-#{$start}\:end {
			grid-column: #{$start} / #{-1};
		}
		.rowspan-#{$start}\:end {
			grid-row: #{$start} / #{-1};
		}
	}	

	//* How to use: .grid-h-{$start}/{$end}
	//------------------------------------------------------------------------------------------//
	@for $start from 1 through Settings.$columns_count  {
		@for $end from 1 through Settings.$columns_count  {

			.grid-h-#{$start}\/#{$end} {
				&, &>* { display: grid; }
        		grid-template-columns: #{$start}fr #{$end}fr;
    		}
			.grid-v-#{$start}\/#{$end} {
				&, &>* { display: grid; }
				grid-template-columns: #{$start}fr #{$end}fr;
    		}
    	}
    }

	//* How to use:  .col-[start|end]-{$row}x{$col}		-> ($row and $col: from 1 to $column_count}
	//------------------------------------------------------------------------------------------//
	// $r: 0;
	// $c: 0;
	// @for $row from 0 through Settings.$columns_count  {
	// 	@for $col from 0 through Settings.$columns_count  {
	// 		$r:  $row + 1;
	// 		$c:  $col + 1;
	// 		.cell-start-#{$row}x#{$col}  { 
	// 			grid-row-start: #{$r};  
	// 			grid-column-start: #{$c};  
	// 		}
	// 		.cell-end-#{$row}x#{$col}  { 
	// 			grid-row-end: #{$r}; 	
	// 			grid-column-end: #{$c};   
	// 		}
	// 	}
	// }

	// @for $row from 1 through Settings.$columns_count  {
	// 	@for $col from 1 through Settings.$columns_count  {
	// 		.start-#{$row}x#{$col}  { 
	// 			grid-row-start: #{$row};  
	// 			grid-column-start: #{$col};  
	// 		}
	// 		.end-#{$row}x#{$col}  { 
	// 			grid-row-end: #{$row}; 	
	// 			grid-column-end: #{$col};   
	// 		}
	// 	}
	// }


	

	// @for $r from 1 through Settings.$columns_count {
	// 	// ! not correct
	// 	// .col-#{$r}{ 
	// 	// 	grid-column-end: span #{$r}; 
	// 	// 	grid-row-end: span #{$r};
	// 	// }
	// 	// ! Make css file size smaller
	// 	// .col-h-#{$r}{ grid-column-end: #{$r};}
	// 	// .col-v-#{$r}{ grid-row-end: #{$r};}

	// 	// .start-#{$r}{ grid-column-start: #{$r}; grid-row-start: #{$r};}
	// 	// .start-h-#{$r}{ grid-column-start: #{$r};}
	// 	// .start-v-#{$r}{ grid-row-start: #{$r};}

	// 	// .end-#{$r}{ grid-column-end: #{$r};  grid-row-end: #{$r};}
	// 	// .end-h-#{$r}{ grid-column-end: #{$r};}
	// 	// .end-v-#{$r}{ grid-row-end: #{$r};}
		
	// 	//.order-#{$r}{ order: #{$r};}
	// }

	
	.grid.merge-last-row {
		& > *:last-child {
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}
	.grid.merge-last-col {
		& > *:last-child {
			grid-row-start: 1;
			grid-row-end: -1;
		}
	}
	

	//! ====   ITEMS POSITION   ==== !//
	//* How to use:  .items-[start|end|center|stretch]
	//* How to use:  .items-[h|v]-[start|end|center|stretch]
	//------------------------------------------------------------------------------------------//
	.items {
		//.items-start
		&-start {place-items: start; place-content: start;}
		//.items-end
		&-end {place-items: end; place-content: end;}
		//.items-center
		&-center {place-items: center; place-content: center;}
		//.items-stretch
		&-stretch {place-items: stretch; place-content: stretch;}

		//.items-start-h
		&-start-h {justify-content: start;}
		//.items-end-h
		&-end-h {justify-content: end;}
		//.items-center-h
		&-center-h {justify-content: center;}
		//.items-stretch-h
		&-stretch-h {justify-content: stretch;}
		
		//.items-start-v
		&-start-v {align-items: start;}
		//.items-end-v
		&-end-v {align-items: end;}
		//.items-center-v
		&-center-v {align-items: center;}
		//.items-stretch-v
		&-stretch-v {align-items: stretch;}
		
	}

	//! ====   ITEM POSITION   ==== !//
	//* How to use:  .self-[start|end|center|stretch]
	//* How to use:  .self-[h|v]-[start|end|center|stretch]
	//------------------------------------------------------------------------------------------//

	.self {
		//.self-start
		&-start {place-self: start; place-content: start; }
		//.self-end
		&-end {place-self: end; place-content: end;}
		//.self-center
		&-center {place-self: center; place-content: center;}
		//.self-stretch
		&-stretch {place-self: stretch; place-content: stretch;}

		//.self-start-h
		&-start-h {justify-self: start;}
		//.self-end-h
		&-end-h {justify-self: end;}
		//.self-center-h
		&-center-h {justify-self: center;}
		//.self-stretch-h
		&-stretch-h {justify-self: stretch;}
		
		//.self-start-v
		&-start-v {align-self: start;}
		//.self-end-v
		&-end-v {align-self: end;}
		//.self-center-v
		&-center-v {align-self: center;}
		//.self-stretch-v
		&-stretch-v {align-self: stretch;}	
	}

	//! ====   CONTENT POSITION   ==== !//
	//* How to use:  .content-[start|end|center|stretch|around|between|evenly]
	//* How to use:  .content-[h|v]-[start|end|center|stretch|around|between|evenly]
	//------------------------------------------------------------------------------------------//

	.content {
		//.content-start
		&-start {place-content: start; place-items: start; }
		//.content-end
		&-end {place-content: end; place-items: end; }
		//.content-center
		&-center {place-content: center; place-items: center; }
		//.content-stretch
		&-stretch {place-content: stretch; place-items: stretch; }
		//.content-around
		&-around {place-content: space-around;}
		//.content-between
		&-between {place-content: space-between;}
		//.content-evenly
		&-evenly {place-content: space-evenly;}


		//.content-start-h
		&-start-h {justify-content: start;}
		//.content-end-h
		&-end-h {justify-content: end;}
		//.content-center-h
		&-center-h {justify-content: center;}
		//.content-stretch-h
		&-stretch-h {justify-content: stretch;}
		//.content-around-h
		&-around-h {justify-content: space-around;}
		//.content-between-h
		&-between-h {justify-content: space-between;}
		//.content-evenly-h
		&-evenly-h {justify-content: space-evenly;}
		
		//.content-start-v
		&-start-v {align-content: start;}
		//.content-end-v
		&-end-v {align-content: end;}
		//.content-center-v
		&-center-v {align-content: center;}
		//.content-stretch-v
		&-stretch-v {align-content: stretch;}
		//.content-around-v
		&-around-v {align-content: space-around;}
		//.content-between-v
		&-between-v {align-content: space-between;}
		//.content-evenly-v
		&-evenly-v {align-content: space-evenly;}

	}

	//----------------------------------
	.center-children {
		//display: flex;
		& {
			align-items: center;
			justify-content: center;
		}
		&-v {
			align-items: center;
		}
		&-h {
			justify-content: center;
		}
	}

	//----------------------------------
	.center-all { 
		&, * {
			//display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.center-all-v {
		&, * {
			//display: flex;
			align-items: center;
		}
	}
	.center-all-h {
		&, * {
			//display: flex;
			justify-content: center;
		}
	}


	
	//! ====   TEXT   ==== !//
	//------------------------------------------------------------------------------------------//
	.text-center { text-align: center;}
	.text-left { text-align: left;}
	.text-rigth { text-align: right;}
	.text-justify { text-align: justify;}

	
	// SPACING [padding|margin|gap]
	//------------------------------------------------------------------------------------------//

	//! ====   GAP   ==== !//
	.gap {
		gap: Settings.$gap;
	}


	//#################################################



	/* @for $i from 1 through $columns_count  {
		@if $i <= $columns_count {
			
			$s: math.div(Settings.$i, 10);

			.p-#{Settings.$i} {
				//padding: $s;
				padding: #{Settings.$s}rem;
			}
		}
	} */

	/* @each $s, $size in Settings.$media_query_size {
		@include more-than($size) {

		}
	} */
	/* @include more-than-or-equal(lg){
		article {
			background-color: red;
		}
	} */

	/************** x **************/
	/* .rowx {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 100%;
		justify-items: stretch;
		
	}
	.rowx [class*="col-"] {
			
	} */

	/* .row{
		display: flex;
		grid-gap: $gap;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		width: 100%;
	}
	.row > .col {
		flex: 1;
	}
	*/
	

	
	/* 
	[class*='p-'] {
		margin: 0 auto;	
	} */

	//@use './classes';



}