@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use './options' as *;



@function get($component, $item) {
    @if map-get($options, $component, $item) == true {
        @return true;
    }
    @else if map-get($options, $component, $item) == false {
        @return false;
    }
    @else{
        @warn "Cann't find (#{$component} -> #{$item})!";
    }
    @return false;
}



@function deep-get($keys...) {
   $scope: $options; $i: 1;
   @while (meta.type-of($scope) == map) and ($i <= list.length($keys)) {
      $scope: map.get($scope, list.nth($keys, $i));
      $i: $i + 1;
   }
   @return $scope;
}