$options: (
  animation: (
    classes: false
  ),
  breakpoints: (
    root: false,
    debug: true
  ),
  colors: (
    root: true,
    classes: false
  ),
  components: (
    NavToggle: (
      js: true
    ),
    DarkMode: (
      js: true
    ),
    Accordion: (
      classes: true,
      js: true
    ),
    BackToTop: (
      classes: true,
      js: true
    ),
    Buttons: (
      classes: true
    ),
    Cards: (
      classes: true
    ),
    SweetAlert: (
      js: true
    ),
    EggyJs: (
      js: true
    )
  ),
  fonts: (
    root: true,
    responsive: false,
    root-collection: false
  ),
  init: (
    root: true,
    classes: true
  ),
  layouts: (
    classes: true,
    debug: false,
    responsive-classes: false
  ),
  spacing: (
    classes: true,
    responsive: false,
    responsive-classes: false
  ),
  vendors: (
    reseter: false,
    bulma: false,
    googleFonts: true,
    fontAwesome: true
  )
)!default
