@use './mixins';
@use '../../Colors/mixins' as Colors;
@use '../../../Settings/Options';


@if Options.get('breakpoints', 'debug') {
    .screen-size {
        position: fixed;
        bottom: 1rem;
        inset-inline-end: 1rem;
        @include Colors.bg(primary, (opacity: 2));
        @include Colors.txt(dark, (opacity:7));
        @include Colors.border(accent);
        padding: 1rem 2rem;
        
        &>div { display: none}
        @include mixins.screen-size();
    }
}

