@use "sass:meta";


@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}


// animation-name: bounce;
// animation-duration: 4s; /* or: Xms */
// animation-iteration-count: 10;
// animation-direction: alternate; /* or: normal */
// animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
// animation-fill-mode: forwards; /* or: backwards, both, none */
// animation-delay: 2s; /* or: Xms */

//* @include animation_args(fadeIn, $duration:3s, $iteration-count:infinite);

@mixin advanced_animation($name, $args:()) {
    animation-name: #{$name};

    @each $k, $v in $args {
        animation-#{$k}: #{$v};
    }
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slideIn {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}
@keyframes slideOut {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}

@keyframes flash {

    0%,
    50%,
    to {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        transform: scaleX(1)
    }
}

@keyframes Bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }

    70% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }

    80% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0) scaleY(.95)
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}